<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Header.js"></script>
    <script src="/js/AddStudent.js"></script>
</head>
<body>
<div class="container">
    <div id="header"></div>
    <div id="addStudent"></div>
</div>
</body>
</html>
